%hr.mb-3
.row
  .col
    - if message.user != current_user
      = link_to message.user_name, message.user
    - else
      %span.text-muted= message.user_name
  .col-md-auto
    %span.text-muted= l message.created_at
%p= simple_format message.body
