%td
  %p
    - if message.user != current_user
      = link_to message.user_name, message.user
    - else
      %span.text-muted= message.user_name
    \:
    = message.body
%td.text-muted{width: 150}= l message.created_at
