.row
  .col
    %h1.display-4
      = t(:index, scope: :data_source)
  .col-md-auto
    .mt-3
    = link_to t(:new, scope: :data_source), new_data_source_path, class: 'btn btn-outline-success'

- if @data_sources.length > 0
  = render partial: 'table', locals: {data_sources: @data_sources}
- else
  No data sources found...
