%h1.display-4 Mailbox

- if @conversations.length > 0
  %table.table.table-striped
    %tbody
      - @conversations.each do |conversation|
        %tr
          %td
            .row
              .col
                = link_to conversation.participant_not(current_user).name, conversation
                - if conversation.messages.unread_by(current_user).length > 0
                  %span.badge.badge-danger
                    = conversation.messages.unread_by(current_user).count
              .col-md-auto
                = time_ago_in_words(conversation.updated_at)
- else
  You don't have any discussions...
