%nav{role: 'navigation'}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'All groups', user_groups_path
    %li.breadcrumb-item= link_to @user_group.name, @user_group
    %li.breadcrumb-item.active Edit

%h1.display-5
  Edit #{@user_group.name}

= render 'form'
