%table.table.table-striped
  %thead
    %tr
      %th Request
      %th Endpoint
      %th Executed at
  %tbody
    - data_requests.each do |data_request|
      %tr
        %td= yield data_request
        %td= data_request.url
        %td= l data_request.created_at
